[urgency_low]
    background = "#{{base00-hex}}"
    foreground = "#{{base04-hex}}"

[urgency_normal]
    background = "#{{base00-hex}}"
    foreground = "#{{base05-hex}}"

[urgency_critical]
    background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"
